<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro Membro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <form [formGroup]="onRegisterForm" class="list-form">      
      <ion-item color="none" lines="none">
        <ion-input type="text" placeholder="Nome Completo" formControlName="name">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('name').touched && onRegisterForm.get('name').hasError('required')">
        <ion-text color="warning">
          Preencha este campo
        </ion-text>
      </p>

      <ion-item no-padding color="none" lines="none">
        <ion-input placeholder="Email" type="email" formControlName="email">
          <ion-icon name="mail"></ion-icon>
        </ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('email')">
        <ion-text color="warning">
          Email inválido
        </ion-text>
      </p>

      <ion-item no-padding color="none" lines="none">
        <ion-input placeholder="Telefone" type="text" formControlName="phone" [simpleMask]="phoneMask" [clearIfNotMatch]="true">
          <ion-icon name="call"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item color="none" lines="none" button="true" id="open-date-input-birth">
        <ion-label>Data de Nascimento</ion-label>
        <ion-text slot="end">{{ dateValue }}</ion-text>
        <ion-popover trigger="open-date-input-birth" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetimeBirth
              presentation="date"
              (ionChange)="dateValue = formatDate(popoverDatetimeBirth.value)"
              displayFormat="DD/MM/YYYY"
              locale="pt-BR"
              cancelText="Cancelar" doneText="OK"
              [max]="today | date: 'yyyy-MM-dd'"
              formControlName="birth_date"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-item color="none" lines="none" button="true" id="open-date-input-baptism">
        <ion-label>Data de Batismo</ion-label>
        <ion-text slot="end">{{ dateValueBaptism }}</ion-text>
        <ion-popover trigger="open-date-input-baptism" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetimeBaptism
              presentation="date"
              (ionChange)="dateValueBaptism = formatDate(popoverDatetimeBaptism.value)"
              displayFormat="DD/MM/YYYY"
              locale="pt-BR"
              cancelText="Cancelar" doneText="OK"
              [max]="today | date: 'yyyy-MM-dd'"
              formControlName="baptism_date"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-item *ngIf="!groupId" color="none" lines="none">
        <ion-label>Função</ion-label>
        <ion-select formControlName="role_id" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let role of roles" value="{{ role.id }}">{{ role.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label>Sexo</ion-label>
        <ion-select formControlName="sex" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value="1">Masculino</ion-select-option>
          <ion-select-option value="2">Feminino</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label>Estado Civil</ion-label>
        <ion-select formControlName="marital_status" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option value="1">Solteiro</ion-select-option>
          <ion-select-option value="2">Casado</ion-select-option>
          <ion-select-option value="3">Outro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label>Local</ion-label>
        <ion-select formControlName="place_id" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let place of places" value="{{ place.id }}">{{ place.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label class="forgot_lbl">Endereço</ion-label>

      <ion-item color="none" lines="none">
        <ion-input type="text" placeholder="Bairro" formControlName="district">
          <ion-icon name="location"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-input type="text" placeholder="Endereço" formControlName="address">
          <ion-icon name="location"></ion-icon>
        </ion-input>
      </ion-item>
    </form>

    <!-- backend errors -->
    <ng-container *ngIf="formStatus" class="ion-padding-top">
      <div *ngIf="formStatus.canShowErrors()" class="alert alert-danger" role="alert">
        <div *ngFor="let error of formStatus.errors">
          <ion-text color="warning" *ngIf="error != formStatus.textInvalid">
            {{ error }}
          </ion-text>
        </div>
      </div>
    </ng-container>

    <ion-progress-bar color="light" type="indeterminate" *ngIf="saving && !formStatus.canShowErrors()"></ion-progress-bar>

    <ion-button expand="block" class="ion-padding-top" (click)="save()" [disabled]="!onRegisterForm.valid">
      Salvar
    </ion-button>
  </div>
</ion-content>
