<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Painel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Dashboard icons -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" (click)="goToCMS()" *ngIf="permissionContent">
        <div class="ion-activatable ripple-parent bg padding-button ion-text-center">
          <ion-icon size="large" name="document-text-outline"></ion-icon>
          <p>Conteúdo</p>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </div>
      </ion-col>
      
      <ion-col *ngFor="let menu of menus" size="6">
        <div [routerLink]="[menu.router]" *ngIf="checkPermissions(menu.permission)" class="ion-activatable ripple-parent bg padding-button ion-text-center">
          <ion-icon size="large" [name]="menu.icon"></ion-icon>
          <p>{{menu.name}}</p>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </div>
      </ion-col>

      <ion-col size="6" [routerLink]="['users']" *ngIf="checkPermissions(0)">
        <div class="ion-activatable ripple-parent bg padding-button ion-text-center">
          <ion-icon size="large" name="person-outline"></ion-icon>
          <p>Usuários</p>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </div>
      </ion-col>

      <ion-col size="6" [routerLink]="['app']" *ngIf="checkPermissions(0)">
        <div class="ion-activatable ripple-parent bg padding-button ion-text-center">
          <ion-icon size="large" name="help-circle-outline"></ion-icon>
          <p>Meu App</p>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
