<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Contagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <form [formGroup]="onRegisterForm" class="list-form">
      <ion-item color="none" lines="none" button="true" id="open-date-input">
        <ion-label>Data/Hora Início Reunião</ion-label>
        <ion-text slot="end">{{ dateValue }}</ion-text>
        <ion-popover trigger="open-date-input" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetime
              (ionChange)="dateValue = formatDate(popoverDatetime.value)"
              displayFormat="DD/MM/YYYY H:mm"
              locale="pt-BR"
              cancelText="Cancelar" doneText="OK"
              [max]="today | date: 'yyyy-MM-dd'"
              formControlName="date"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('date').touched && onRegisterForm.get('date').hasError('required')">
        <ion-text color="warning">
          Preencha este campo
        </ion-text>
      </p>

      <ion-item color="none" lines="none">
        <ion-label>Local</ion-label>
        <ion-select formControlName="place_id" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let place of places" value="{{ place.id }}">{{ place.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label position="fixed">Total </ion-label>
        <ion-input type="number" placeholder="Total Presentes" formControlName="total">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-label class="forgot_lbl">No total acima inclui:</ion-label>

      <ion-item color="none" lines="none">
        <ion-label position="fixed">Decisões</ion-label>
        <ion-input type="number" placeholder="Decisões" formControlName="decisions">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label position="fixed">Crianças</ion-label>
        <ion-input type="number" placeholder="Crianças" formControlName="kids">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </ion-item>
    </form>

    <!-- backend errors -->
    <ng-container *ngIf="formStatus" class="ion-padding-top">
      <div *ngIf="formStatus.canShowErrors()" class="alert alert-danger" role="alert">
        <div *ngFor="let error of formStatus.errors">
          <ion-text color="warning" *ngIf="error != formStatus.textInvalid">
            {{ error }}
          </ion-text>
        </div>
      </div>
    </ng-container>

    <ion-progress-bar color="light" type="indeterminate" *ngIf="saving && !formStatus.canShowErrors()"></ion-progress-bar>

    <ion-button expand="block" class="ion-padding-top" (click)="save()" [disabled]="!onRegisterForm.valid">
      Salvar
    </ion-button>
  </div>
</ion-content>
