<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <form [formGroup]="onRegisterForm" class="list-form">      
      <ion-item color="none" lines="none">
        <ion-input type="text" placeholder="Nome" formControlName="name">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('name').touched && onRegisterForm.get('name').hasError('required')">
        <ion-text color="warning">
          Preencha este campo
        </ion-text>
      </p>

      <ion-item no-padding color="none" lines="none">
        <ion-input placeholder="Telefone" type="text" formControlName="phone" [simpleMask]="phoneMask" [clearIfNotMatch]="true">
          <ion-icon name="call"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item color="none" lines="none" button="true" id="open-date-input-opening">
        <ion-label>Data de Abertura</ion-label>
        <ion-text slot="end">{{ dateValue }}</ion-text>
        <ion-popover trigger="open-date-input-opening" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetime
              presentation="date"
              (ionChange)="dateValue = formatDate(popoverDatetime.value)"
              displayFormat="DD/MM/YYYY"
              locale="pt-BR"
              cancelText="Cancelar" doneText="OK"
              formControlName="opening_date"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label>Dia</ion-label>
        <ion-select formControlName="day" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let day of days" value="{{ day.id }}">{{ day.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="none" lines="none" button="true" id="open-date-input-schedule">
        <ion-label>Horário</ion-label>
        <ion-text slot="end">{{ dateValueShedule }}</ion-text>
        <ion-popover trigger="open-date-input-schedule" show-backdrop="false">
          <ng-template>
            <ion-datetime
              #popoverDatetimeSchedule
              presentation="time"
              (ionChange)="dateValueShedule = formatDateTime(popoverDatetimeSchedule.value)"
              displayFormat="HH:mm"
              locale="pt-BR"
              cancelText="Cancelar" doneText="OK"
              formControlName="schedule"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label>Local</ion-label>
        <ion-select formControlName="place_id" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let place of places" value="{{ place.id }}">{{ place.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label>Rede</ion-label>
        <ion-select formControlName="network_id" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let network of networks" value="{{ network.id }}">{{ network.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label>Pastor</ion-label>
        <ion-select formControlName="pastor_id" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let pastor of pastors" value="{{ pastor.id }}">{{ pastor.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label>Líder</ion-label>
        <ion-select formControlName="leader_id" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let member of members" value="{{ member.id }}">{{ member.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label>Supervisor</ion-label>
        <ion-select formControlName="supervisor_id" cancelText="Cancelar">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let member of members" value="{{ member.id }}">{{ member.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-label class="forgot_lbl">Endereço</ion-label>

      <ion-item color="none" lines="none">
        <ion-input type="text" placeholder="Bairro" formControlName="district">
          <ion-icon name="location"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-input type="text" placeholder="Endereço" formControlName="address">
          <ion-icon name="location"></ion-icon>
        </ion-input>
      </ion-item>
    </form>

    <!-- backend errors -->
    <ng-container *ngIf="formStatus" class="ion-padding-top">
      <div *ngIf="formStatus.canShowErrors()" class="alert alert-danger" role="alert">
        <div *ngFor="let error of formStatus.errors">
          <ion-text color="warning" *ngIf="error != formStatus.textInvalid">
            {{ error }}
          </ion-text>
        </div>
      </div>
    </ng-container>

    <ion-progress-bar color="light" type="indeterminate" *ngIf="saving && !formStatus.canShowErrors()"></ion-progress-bar>

    <ion-button expand="block" class="ion-padding-top" (click)="save()" [disabled]="!onRegisterForm.valid">
      Salvar
    </ion-button>
  </div>
</ion-content>
